.calculator-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 20px auto;
  color: #e61010;
  border: 5px solid #e61010;
  border-radius: 30px;
  padding: 10px;
  background-color: #f9f9f9;
}

.calculator-flex {
  display: flex;
}

.calculator-block {
  display: block;
  gap: 20%;
  width: 80%;
  height: 35px;
}

.calculator {
  width: 400px;
  height: 200px;
  margin: 60px auto;
  padding: 50px;
  border: 3px solid #ccc;
  border-radius: 20px;
  background-color: #df1212;
}

.input_calc {
  display: block;
  width: 80%;
  height: 25px;
  margin-bottom: 30px;
}

.button_calc {
  display: flex;
  width: 50%;
  height: 50%;
  flex-direction: column;
  background: #62c79d;

}


.result {
  background: #ebe5e5;
  width: 40%;
  margin: 50px;
}
