.calculator-h1 {
    text-align: center;
    color: #ff4b2b;
}   

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 80vh;
}

.calculator {
  width: 350px;
  padding: 20px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border: 1px solid #f87e0433;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
}

#display {
  width: 100%;
  height: 60px;
  font-size: 32px;
  text-align: right;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  color: #00ffcc;
  outline: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  height: 60px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

button:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-3px);
}

.operator { color: #ff9f0a; }
.clear { color: #ff4b2b; }

.equal {
  grid-column: span 2;
  background: linear-gradient(135deg, #00d2ff, #3a7bd5);
  color: white;
}