.counter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background:  #bbcfd8;
  padding: 50px 100px;
  border-radius: 50px;
  box-shadow: 0 10px 50px #08d89396;
}

.counter-box {
  min-width: 150px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  border-radius: 25px;
  background-color: #07e6e6;
}

.counter-h1 {
  color: #ef4444;
  text-align: center;      
  line-height: 40px; 
}

.circle-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid;
  font-size: 58px;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
}

.minus:hover {
  background-color: #ef4444;
  color: white;
}

.plus:hover {
  background-color: #3b82f6;
  color: white;
}
