
@if (quizService.selectedQuiz(); as quiz) {
    <h1>{{ quiz.title }}</h1>

    <div class="timer-box" [class.warning]="remainingTime() < 60">
            Vaqt: <span class="time-text">{{ displayTime() }}</span>
        </div>
    
    <div class="progress">
        Savol: {{ currentIndex() + 1 }} / {{ quiz.questions.length }}
    </div>

    @if(currentQuestion(); as question) {
        <div class="question-card">
            <h3>{{question.id}}. {{ question.text }}</h3>
        </div>

        <ul class="options-list" style="list-style: none; padding: 0;">
            @for (option of question.options; track $index) {
                <li 
                    (click)="selectedOptionSave($index)" 
                    class="option-item"
                    [ngClass]="getOptionClass(question, $index)">

                    <input type="radio" 
                           [checked]="quizService.userAnswers()[question.id] === $index"
                           name="q-{{question.id}}">
                    
                    <span>{{ option }}</span>
                </li>
            }
        </ul>

        <div class="actions">
            <button (click)="prevQuestion()" [disabled]="currentIndex() === 0"> <= Orqaga </button>
            
            @if (currentIndex() < quiz.questions.length - 1) {
                <button (click)="nextQuestion()"> Keyingisi => </button>
            } @else {
            <button class="finish"  (click)="finishQuiz()" > Testni yakunlash </button>
            }
        </div>
    }
} @else {
      <p>Yuklanmoqda yoki Quiz topilmadi...</p>
}

<br>
<div>
    <button class="back-quiz" [routerLink]="['/quiz']" 
    (click)="clearLocalStorage()" >Quizlarga qaytish</button>
</div>