.counter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  background: black;
  padding: 40px 60px;
  border-radius: 16px;
  color: black;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.counter-box {
  min-width: 120px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 32px;
  font-weight: bold;

  border: 2px solid #e5e7eb;
  border-radius: 10px;

  background-color: #07e6e6;
}

.counter-h1 {
  color: #ef4444;
  text-align: center;      /* gorizontal */
  line-height: 90px;       /* vertikal */
}

.circle-btn {
  width: 60px;
  height: 60px;

  border-radius: 50%;
  border: 2px solid;

  font-size: 28px;
  font-weight: bold;

  cursor: pointer;
  transition: all 0.2s ease;
  background: transparent;
}

.minus {
  color: #ef4444;
  border-color: #ef4444;
}

.minus:hover {
  background-color: #ef4444;
  color: white;
}

.plus {
  color: #3b82f6;
  border-color: #3b82f6;
}

.plus:hover {
  background-color: #3b82f6;
  color: white;
}
