.user-link {
    display: flex;
    justify-content: center;
    justify-items: center;
    color: #60a5fa;
    cursor: pointer;
}

.user-link:hover {
  color: #15f700;
}

._users:hover {
    text-decoration: underline;
    color: #00d2f7;
}


._users {
  text-align: center;
}

.title {
    text-align: center;
}

.user_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
}

.forms {
  border-color: #e2d410; 
  border-radius: 10px;
}

.forms_button {
  background-color: #00d2f7;
  border-color: #e21010; 
  border-radius: 10px;
  border: 5px 
}

.forms_button:hover {
  cursor: pointer;

  background-color: #15f700;
}