.user-link {
    display: block;
    color: #60a5fa;
    text-decoration: underline;
    cursor: pointer;
}

.user-link:hover {
  color: #15f700;
}

._users:hover {
    text-decoration: underline;
    color: #00d2f7;
}


._users {
  text-align: center;
}

.title {
    text-align: center;
}

.user_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}