.quiz-item {
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.selected-quiz {
  background-color: #4aed0e !important; 
  border-color: #2196f3 !important;
    color: #2a0404;  
}

.selected-quiz .title .duration {
  color: #19ee09;
}

.selected-quiz button {
  background-color: #2196f3;
}