.layout-container {
  display: flex;
  height: 100vh; 
  overflow: hidden; 
}

.sidebar {
  width: 300px; 
  background-color: #130404;
  border-right: 1px solid #ddd;
  overflow-y: auto; 
  padding: 20px;
}

.main-content {
  flex: 1; 
  overflow-y: auto; 
  padding: 30px;
  background-color: #0c0c0c;
}