.totdolist-h1 {
  text-align: center;
  color: red;
}

.page-container {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #f4f7f6;
  min-height: 100vh;
}

.todo-card {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h2 { text-align: center; color: #2c3e50; margin-bottom: 20px; }

.input-area { display: flex; gap: 10px; margin-bottom: 20px; }

input[type="text"] {
  flex: 1;
  padding: 12px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  outline: none;
}

.add-btn {
  background: #6c5ce7;
  color: white;
  border: none;
  padding: 0 20px;
  border-radius: 8px;
  cursor: pointer;
}

.filter-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.filter-group button {
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #95a5a6;
  font-weight: 600;
}

.filter-group button.active {
  color: #6c5ce7;
  border-bottom: 2px solid #6c5ce7;
}

.status-indicator { text-align: center; margin-bottom: 15px; }

.badge {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
}
.blue { background: #3498db; }
.green { background: #27ae60; }
.orange { background: #e67e22; }

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.3s;
}

/* ngClass uchun maxsus stil */
.completed-style {
  background-color: #f9f9f9;
  text-decoration: line-through;
  opacity: 0.6;
}

.task-info { display: flex; gap: 10px; align-items: center; }

.del-btn { background: none; border: none; cursor: pointer; font-size: 18px; }

.empty-msg { text-align: center; color: #bdc3c7; padding: 20px; }