.page-container {
  display: flex;
  justify-content: center;
  background: #e9e3e3;
  width: 50%;
}

.todo-card {
  width: 90%;
  background: #f7a4a4;
}

.list-wrapper {
  display: flex;
  justify-content: center;
  gap: 30%;
  width: 90%;
  height: 35px;
  background: #b7e4a9;
  margin-top: 30px;
}

.item-list {
  font-size: 20px;
  padding: 6px 10px;
}

.empty-msg {
  margin-top: 20px;
}

.input{
  width: 70%;
  height: 35px;
}

.add-btn {
  height: 40px;
}

.add-btn:hover {
  cursor: pointer;
  background: #4aec19;
  height: 40px;
}

.filter-group {
  display: flex;
  margin-top: 20px;
}

.filter {
  width: 25%;
  height: 35px;
}

.filter:hover {
  cursor: pointer;
  background: #4aec19;
  height: 40px;
}
