.main-title {
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.input-div {
  display: flex;
  justify-content: center;
}

.input {
  border-color: brown;
  width: 30%;
  height: 50px;
}

.button:hover {
  cursor: pointer;
  background: #2dec06;
}